<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home ToDo | Change Password</title>
  <link rel="web Icon" href="/images/ICON.jpeg" type="images/jpeg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/changePassword.style.css">
</head>
<body>
  <section>
    <div class="container">
      <div class="form">
        <h2 class="heading">Change Password</h2>

        <form action="/changePass/<%= id %>" method="post">
          <div class="password-div">
            <input type="password" name="newPassword" placeholder="New Password" class="password">
            <i class="eye fa-solid fa-eye" id="0" onclick="change(0)"></i>
          </div>

          <div class="password-div">
            <input type="password" name="conformPassword" placeholder="Conform Password" class="password">
            <i class="eye fa-solid fa-eye" id="1" onclick="change(1)"></i>
          </div>
          
          <input type="submit" value="Change Password" id="submit">
        </form>

        <p class="msg">Already Have an account? <a href="/signup">SignUp</a></p>
      </div>
    </div>


    <div class="image-container">
      <img src="/images/signup.png" alt="">
    </div>
  </section>

  <script src="/javascripts/eyesFunction.js"></script>
</body>
</html>