<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home ToDo | SignUp</title>
  <link rel="web icon" href="/images/ICON.jpeg" type="images/jpeg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/signup.style.css">
</head>
<body>
  <section>
    <div class="container">
      <div class="form">
        <h2 class="heading">SignUp</h2>

        <form action="/create" method="post">
          <input type="text" name="Fullname" required placeholder="Fullname">
          <input type="text" name="username" required placeholder="username">
          <input type="email" name="email" required placeholder="email">
          <div class="password-div">
            <input type="password" name="password" placeholder="password" class="password">
            <i class="fa-solid fa-eye" id="eye"></i>
          </div>

          <input type="submit" value="SignUp" id="submit">
        </form>

        <p class="msg">Already Have an account? <a href="/">SignUp</a></p>
      </div>
    </div>


    <div class="image-container">
      <img src="/images/signup.png" alt="">
    </div>
  </section>


  <script src="/javascripts/eyeFunction.js"></script>
</body>
</html>